@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --font-topbar: 'Lato', sans-serif;
  --font-heading: var(--font-geist-sans);
  --font-body: var(--font-geist-sans);
}

@layer base {
  * {
    @apply border-gray-200;
  }
  body {
    @apply bg-[#F2F2F5] text-gray-900; /* cambia bg-gray-50 por tu color */
  }
}

@layer components {
  .topbar-button {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
  }

  .bg-incontrol {
    background-color: #F2F2F5;
  } 
}